body {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background: linear-gradient(120deg, #1f1f1f 36%, #060606 100%);
}

.menu {
  top: 0;
  font-family: "Open Sans";
  position: fixed;
  left: 0;
  display: inline-block;
  width: 80px;
  background-color: #242424;
  height: 100%;
  -webkit-box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.55);
          box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.55);
}

.menu .element {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  line-height: 15px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-align: center;
  color: rgba(255, 255, 255, 0);
  font-size: 1.1em;
  font-family: "Open Sans";
  width: 100%;
  height: 80px;
  margin-bottom: 3px;
  background-color: #363636;
  -webkit-transition: ease-out .4s;
  transition: ease-out .4s;
}

.menu .element:hover {
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  width: 130%;
  background-color: #301e75;
  color: white;
}

.panel {
  text-align: center;
  margin-left: 100px;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: calc(100% - 100px);
  background-color: rgba(119, 41, 41, 0);
}

.panel .desc_panel {
  margin: auto auto;
  height: 95%;
  width: 30%;
  background-color: rgba(11, 195, 219, 0);
  display: inline-block;
}

.panel .desc_panel .description {
  width: 100%;
  height: 61%;
  border-radius: 50px;
  background-color: #0f0f0f;
  -webkit-box-shadow: 4px 4px 17px black;
          box-shadow: 4px 4px 17px black;
  display: inline-block;
}

.panel .desc_panel .description .logo {
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(../assets/index/logo.png);
  height: 45%;
  width: 94%;
  background-color: #161616;
  margin: 0 auto;
  margin-top: 4%;
  margin-bottom: 4%;
  border-radius: 40px;
}

.panel .desc_panel .description .desc {
  display: table;
  margin: auto auto;
  height: 45%;
  width: 94%;
  background-color: rgba(24, 24, 24, 0.953);
  border-radius: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

.panel .desc_panel .description .desc p {
  display: inline-block;
  vertical-align: middle;
  margin: auto auto;
  height: 90%;
  width: 92%;
  text-align: justify;
  word-wrap: break-word;
  word-break: break-all;
  text-indent: 25px;
  color: white;
  font-family: "Open Sans";
  font-size: 1.32em;
}

@media all and (min-width: 992px) {
  .panel .desc_panel .description .desc p {
    font-size: calc(100vw / 50);
  }
}

@media all and (min-width: 500px) {
  .panel .desc_panel .description .desc p {
    font-size: calc(100vw * 0.0119);
  }
}

.panel .desc_panel .contacts {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto auto;
  margin-top: 4%;
  height: 32%;
  width: 100%;
  border-radius: 30px;
  -webkit-box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.92);
          box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.92);
  background-color: #ff3300;
}

.panel .desc_panel .contacts .offline {
  position: relative;
  height: 100%;
  width: 50%;
  left: -1px;
  border-radius: 30px;
  -webkit-box-shadow: 4px 0px 16px rgba(0, 0, 0, 0.52);
          box-shadow: 4px 0px 16px rgba(0, 0, 0, 0.52);
  background-color: #1f1f1f;
}

.panel .desc_panel .contacts .offline p {
  line-height: 250%;
  margin: 0;
  text-align: center;
  top: 0px;
  position: relative;
  height: 25%;
  width: 100%;
  border-radius: 30px;
  font-family: "Open Sans";
  font-size: 1.1em;
  color: white;
}

@media all and (min-width: 992px) {
  .panel .desc_panel .contacts .offline p {
    font-size: calc(100vw / 50);
  }
}

@media all and (min-width: 500px) {
  .panel .desc_panel .contacts .offline p {
    font-size: calc(100vw * 0.013);
  }
}

.panel .desc_panel .contacts .online {
  position: relative;
  display: table-cell;
  text-align: center;
  height: 100%;
  width: 50%;
}

.panel .desc_panel .contacts .online input {
  border: none;
  text-indent: 7px;
  vertical-align: top;
  resize: none;
  padding: 1px;
  margin-top: 4%;
  margin-bottom: 2%;
  font-size: 1.3em;
  color: white;
  background-color: #222222;
  position: relative;
  outline: none;
  word-break: break-all;
  height: 13%;
  width: 85%;
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.92);
          box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.92);
  border-radius: 15px;
}

@media all and (min-width: 992px) {
  .panel .desc_panel .contacts .online input {
    font-size: calc(100vw / 50);
  }
}

@media all and (min-width: 500px) {
  .panel .desc_panel .contacts .online input {
    font-size: calc(100vw * 0.013);
  }
}

.panel .desc_panel .contacts .online textarea {
  border: none;
  text-indent: 7px;
  vertical-align: top;
  resize: none;
  padding: 1px;
  margin-top: 2%;
  margin-bottom: 2%;
  font-size: 1.3em;
  color: white;
  background-color: #222222;
  position: relative;
  outline: none;
  word-break: break-all;
  height: 38%;
  width: 85%;
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.92);
          box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.92);
  border-radius: 20px;
}

@media all and (min-width: 992px) {
  .panel .desc_panel .contacts .online textarea {
    font-size: calc(100vw / 50);
  }
}

@media all and (min-width: 500px) {
  .panel .desc_panel .contacts .online textarea {
    font-size: calc(100vw * 0.013);
  }
}

.panel .desc_panel .contacts .online button {
  position: relative;
  border: 2px solid #1f1f1f;
  margin-top: 2%;
  color: #222222;
  text-transform: uppercase;
  font-size: 1.3em;
  height: 15%;
  width: 85%;
  right: 0;
  text-align: center;
  border-radius: 18px;
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.22);
          box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.22);
  background-color: #ff653e;
  -webkit-transition: linear .5s;
  transition: linear .5s;
}

@media all and (min-width: 992px) {
  .panel .desc_panel .contacts .online button {
    font-size: calc(100vw / 50);
  }
}

@media all and (min-width: 500px) {
  .panel .desc_panel .contacts .online button {
    font-size: calc(100vw * 0.013);
  }
}

.panel .desc_panel .contacts .online button:hover {
  background-color: #ff1e00;
}

.panel .catalog_panel {
  margin: auto auto;
  height: 90%;
  width: 65%;
  background-color: rgba(8, 89, 100, 0);
  display: inline-block;
}

.panel .catalog_panel .name {
  font-family: "Open Sans";
  margin: auto auto;
  font-size: 4.7em;
  color: white;
  text-align: center;
  width: 100%;
  height: 10%;
  background-color: rgba(8, 14, 100, 0);
}

@media all and (min-width: 992px) {
  .panel .catalog_panel .name {
    font-size: calc(100vw / 50);
  }
}

@media all and (min-width: 500px) {
  .panel .catalog_panel .name {
    font-size: calc(100vw * 0.04);
  }
}

.panel .catalog_panel .category {
  margin: auto auto;
  margin-top: 2%;
  margin-bottom: 2%;
  width: 50%;
  height: 6%;
  background-color: rgba(100, 60, 8, 0);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.panel .catalog_panel .category .block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  margin: auto auto;
  width: 30%;
  height: 100%;
  border-radius: 23px;
  -webkit-box-shadow: 4px 4px 10px black;
          box-shadow: 4px 4px 10px black;
  box-shadow: 4px 4px 10px black;
  border: 2px solid #ff2600;
  -webkit-transition: ease-in .4s;
  transition: ease-in .4s;
}

.panel .catalog_panel .category .block p {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  line-height: normal;
  display: inline-block;
  vertical-align: middle;
  margin: auto;
  width: 100%;
  height: 50%;
  display: inline-block;
  font-family: "Open Sans";
  font-size: 1.5em;
  color: white;
}

@media all and (min-width: 992px) {
  .panel .catalog_panel .category .block p {
    font-size: calc(100vw / 50);
  }
}

@media all and (min-width: 500px) {
  .panel .catalog_panel .category .block p {
    font-size: calc(100vw * 0.015);
  }
}

.panel .catalog_panel .category .block:hover {
  -webkit-box-shadow: 0px 0px 10px #ff2600;
          box-shadow: 0px 0px 10px #ff2600;
  background-color: #ff2600;
}

.panel .catalog_panel .panels_pane {
  width: 100%;
  height: 80%;
  background-color: rgba(44, 112, 26, 0);
}

.panel .catalog_panel .panels_pane .line {
  width: 100%;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.panel .catalog_panel .panels_pane .line .card {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 94% 94%;
  border-radius: 55px;
  margin: auto auto;
  width: 45%;
  height: 90%;
  background-color: rgba(31, 31, 31, 0.87);
  -webkit-box-shadow: 4px 4px 17px black;
          box-shadow: 4px 4px 17px black;
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-transition: ease-in-out .5s;
  transition: ease-in-out .5s;
}

.panel .catalog_panel .panels_pane .line .card .desc {
  position: absolute;
  border-bottom-right-radius: 55px;
  border-bottom-left-radius: 55px;
  width: 100%;
  -webkit-transition: ease-in-out .3s;
  transition: ease-in-out .3s;
  bottom: 0;
  background-color: rgba(19, 19, 19, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  margin: auto auto;
}

.panel .catalog_panel .panels_pane .line .card .desc p {
  text-transform: uppercase;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  line-height: normal;
  display: inline-block;
  vertical-align: middle;
  margin: auto;
  width: 100%;
  height: 60%;
  display: inline-block;
  font-family: "Open Sans";
  font-size: 28px;
  color: #ff3c00;
  text-shadow: 0 0 10px #fd3402;
}

@media all and (min-width: 992px) {
  .panel .catalog_panel .panels_pane .line .card .desc p {
    font-size: calc(100vw / 50);
  }
}

@media all and (min-width: 500px) {
  .panel .catalog_panel .panels_pane .line .card .desc p {
    font-size: calc(100vw * 0.02);
  }
}

.panel .catalog_panel .panels_pane .line .card:hover {
  -webkit-box-shadow: 0px 0px 10px #ff5e00;
          box-shadow: 0px 0px 10px #ff5e00;
  background-size: 85% 85%;
}
/*# sourceMappingURL=index.css.map */